[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "hugo/themes/triple-hyde"]
	path = hugo/themes/triple-hyde
	url = https://github.com/derme302/triple-hyde.git
[submodule "hugo/themes/hugo-resume"]
	path = hugo/themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
