[submodule "hugo/themes/hugo-resume"]
	path = hugo/themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
